<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<servlet>
		<servlet-name>SmartLABRec</servlet-name>
		<servlet-class>org.smartlab.rec.SmartLABRecServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SmartLABRec</servlet-name>
		<url-pattern>/smartlab</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>submitData</servlet-name>
		<servlet-class>org.smartlab.rec.UpdateInfoSevlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>submitData</servlet-name>
		<url-pattern>/submitData</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>userPage</servlet-name>
		<servlet-class>org.smartlab.rec.UserPageServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>userPage</servlet-name>
		<url-pattern>/userPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updateUser</servlet-name>
		<servlet-class>org.smartlab.rec.UpdateUserServlet</servlet-class>		
	</servlet>
	<servlet-mapping>
		<servlet-name>updateUser</servlet-name>
		<url-pattern>/updateUser</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>homepage.jsp</welcome-file>
	</welcome-file-list>
</web-app>
